In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
!pip install pandas
import pandas as pd


df = pd.read_csv('/content/drive/MyDrive/Ironhack/unit 7 - Python/7.01/learningSet.csv')

df.head()

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

<ipython-input-2-7cc9494df7fa>:5: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/content/drive/MyDrive/Ironhack/unit 7 - Python/7.01/learningSet.csv')

,ODATEDW,OSOURCE,TCODE,STATE,ZIP,MAILCODE,PVASTATE,DOB,NOEXCH,RECINHSE,...,TARGET_D,HPHONE_D,RFA_2R,RFA_2F,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,CLUSTER2,GEOCODE2
0,8901,GRI,0,IL,61081,,,3712,0,,...,0.0,0,L,4,E,X,X,X,39.0,C
1,9401,BOA,1,CA,91326,,,5202,0,,...,0.0,0,L,2,G,X,X,X,1.0,A
2,9001,AMH,1,NC,27017,,,0,0,,...,0.0,1,L,4,E,X,X,X,60.0,C
3,8701,BRY,0,CA,95953,,,2801,0,,...,0.0,1,L,4,E,X,X,X,41.0,C
4,8601,,0,FL,33176,,,2001,0,X,...,0.0,1,L,2,F,X,X,X,26.0,A

**PART 1 - Categoricals**

```
Check for null values in all the columns
```

In [3]:
categorical_columns = df.select_dtypes(include='object')
numerical_columns = df.select_dtypes(exclude='object')

In [4]:
df1 = categorical_columns

In [5]:
df1.isnull().sum()

OSOURCE       0
STATE         0
ZIP           0
MAILCODE      0
PVASTATE      0
           ...
RFA_2A        0
MDMAUD_R      0
MDMAUD_F      0
MDMAUD_A      0
GEOCODE2    132
Length: 74, dtype: int64

```
Exclude the following variables by looking at the definitions. Create a new empty list called drop_list. We will append this list and then drop all the columns in this list later:

OSOURCE - symbol definitions not provided, too many
categories
ZIP CODE - we are including state already
```

In [6]:
df2 = df1.copy()

In [7]:
exclude_columns = ['OSOURCE', 'ZIP CODE']

drop_list = []

for col in exclude_columns:
  if col in df2.columns:
    drop_list.append(col)

df2 = df2.drop(columns=drop_list)

```
Identify columns that over 85% missing values and remove those columns from the dataframe
```

In [8]:
df3 = df2.copy()

In [9]:
percentage = 0.85

missing_percentage = (df3.isnull().sum() / len(df)) * 100

drop_columns = missing_percentage[missing_percentage > percentage].index.tolist()

df3 = df3.drop(columns=drop_columns)

```
Reduce the number of categories in the column GENDER. The column should only have either "M" for males, "F" for females, and "other" for all the rest

Note that there are a few null values in the column. We will first replace those null values using the code below:
print(categorical['GENDER'].value_counts())
categorical['GENDER'] = categorical['GENDER'].fillna('F')
```

In [24]:
df4 = df3.copy()

In [25]:
df4['GENDER'].isnull().sum()

0

In [26]:
df4['GENDER'].value_counts()

F    51277
M    39094
      2957
U     1715
J      365
C        2
A        2
Name: GENDER, dtype: int64

In [27]:
df4['GENDER'] = df3['GENDER'].fillna('F')

In [28]:
change_values = {'M': 'M', 'F': 'F', 'other': 'other', 'U': 'other', 'J': 'other', 'C': 'other', 'A': 'other', ' ': 'F' }

# Here I'm guessing the blank space is the null values

In [29]:
df4['GENDER'] = df4['GENDER'].map(change_values)

In [30]:
df4['GENDER'].value_counts()

F        54234
M        39094
other     2084
Name: GENDER, dtype: int64

**PART 2 - Numericals**

In [17]:
df5 = numerical_columns

```
Check for null values in the numerical columns.
```

In [18]:
df5.isnull().sum()

ODATEDW         0
TCODE           0
DOB             0
AGE         23665
NUMCHLD     83026
            ...
TARGET_B        0
TARGET_D        0
HPHONE_D        0
RFA_2F          0
CLUSTER2      132
Length: 407, dtype: int64

```
Use appropriate methods to clean the columns GEOCODE2, WEALTH1, ADI, DMA,and MSA.
```

In [80]:
df4_1 = df4.copy()

In [81]:
df4_1['GEOCODE2'].value_counts()

A    34484
B    28505
D    16580
C    15524
       187
Name: GEOCODE2, dtype: int64

In [82]:
change_values2 = {'A': 'A', 'B': 'B', 'C': 'C', 'D': 'D', ' ': 'A'}

In [83]:
df4_1['GEOCODE2'] = df4_1['GEOCODE2'].map(change_values2)

In [84]:
df4_1['GEOCODE2'].value_counts()

A    34671
B    28505
D    16580
C    15524
Name: GEOCODE2, dtype: int64

In [118]:
df6 = df5.copy()

In [119]:
df6['WEALTH1'].value_counts()

9.0    7585
8.0    6793
7.0    6198
6.0    5825
5.0    5280
4.0    4810
3.0    4237
2.0    4085
1.0    3454
0.0    2413
Name: WEALTH1, dtype: int64

In [120]:
df6['WEALTH1'] = df6['WEALTH1'].astype(str).apply(lambda x: x.replace('.0', '') if pd.notna(x) else x)

In [121]:
df6['WEALTH1'].value_counts()

nan    44732
9       7585
8       6793
7       6198
6       5825
5       5280
4       4810
3       4237
2       4085
1       3454
0       2413
Name: WEALTH1, dtype: int64

In [122]:
df6['ADI'].value_counts()

13.0     7296
51.0     4622
65.0     3765
57.0     2836
105.0    2617
         ...
651.0       1
103.0       1
601.0       1
161.0       1
147.0       1
Name: ADI, Length: 204, dtype: int64

In [124]:
df6['ADI'] = df6['ADI'].astype(str).apply(lambda x: x.replace('.0', '') if pd.notna(x) else x)

In [125]:
df6['ADI'].value_counts()

13     7296
51     4622
65     3765
57     2836
105    2617
       ...
651       1
103       1
601       1
161       1
147       1
Name: ADI, Length: 205, dtype: int64

In [123]:
df6['DMA'].value_counts()

803.0    7296
602.0    4632
807.0    3765
505.0    2839
819.0    2588
         ...
569.0       1
554.0       1
584.0       1
552.0       1
516.0       1
Name: DMA, Length: 206, dtype: int64

In [126]:
df6['DMA'] = df6['DMA'].astype(str).apply(lambda x: x.replace('.0', '') if pd.notna(x) else x)

In [127]:
df6['DMA'].value_counts()

803    7296
602    4632
807    3765
505    2839
819    2588
       ...
569       1
554       1
584       1
552       1
516       1
Name: DMA, Length: 207, dtype: int64

In [87]:
df6['MSA'].value_counts()

0.0       21333
4480.0     4606
1600.0     4059
2160.0     2586
520.0      1685
          ...
9140.0        1
3200.0        1
9280.0        1
743.0         1
8480.0        1
Name: MSA, Length: 298, dtype: int64

In [128]:
df6['MSA'] = df6['MSA'].astype(str).apply(lambda x: x.replace('.0', '') if pd.notna(x) else x)

In [129]:
df6['MSA'].value_counts()

0       21333
4480     4606
1600     4059
2160     2586
520      1685
        ...
9140        1
3200        1
9280        1
743         1
8480        1
Name: MSA, Length: 299, dtype: int64

```
Use appropriate EDA technique where ever necessary.
```

In [130]:
df6.describe()

,ODATEDW,TCODE,DOB,AGE,NUMCHLD,INCOME,HIT,MBCRAFT,MBGARDEN,MBBOOKS,...,FISTDATE,NEXTDATE,TIMELAG,AVGGIFT,CONTROLN,TARGET_B,TARGET_D,HPHONE_D,RFA_2F,CLUSTER2
count,95412.000000,95412.000000,95412.000000,71747.000000,12386.000000,74126.000000,95412.000000,42558.000000,42558.000000,42558.000000,...,95412.000000,85439.000000,85439.000000,95412.000000,95412.000000,95412.000000,95412.000000,95412.000000,95412.000000,95280.000000
mean,9141.363256,54.223117,2723.602933,61.611649,1.527773,3.886248,3.321438,0.152075,0.059166,1.116382,...,9135.651648,9151.022917,8.093739,13.347786,95778.176959,0.050759,0.793073,0.500618,1.910053,31.533711
std,343.454752,953.844476,2132.241295,16.664199,0.806861,1.854960,9.306899,0.470023,0.262078,1.669967,...,320.394019,294.257260,8.213242,10.769997,55284.596094,0.219506,4.429725,0.500002,1.072749,18.764614
min,8306.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,7211.000000,0.000000,1.285714,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000
25%,8801.000000,0.000000,201.000000,48.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,...,8810.000000,8903.000000,4.000000,8.384615,47910.750000,0.000000,0.000000,0.000000,1.000000,15.000000
50%,9201.000000,1.000000,2610.000000,62.000000,1.000000,4.000000,0.000000,0.000000,0.000000,0.000000,...,9201.000000,9204.000000,6.000000,11.636364,95681.500000,0.000000,0.000000,1.000000,2.000000,32.000000
75%,9501.000000,2.000000,4601.000000,75.000000,2.000000,5.000000,3.000000,0.000000,0.000000,2.000000,...,9409.000000,9409.000000,11.000000,15.477955,143643.500000,0.000000,0.000000,1.000000,3.000000,49.000000
max,9701.000000,72002.000000,9710.000000,98.000000,7.000000,7.000000,241.000000,6.000000,4.000000,9.000000,...,9603.000000,9702.000000,1088.000000,1000.000000,191779.000000,1.000000,200.000000,1.000000,4.000000,62.000000